

.App .topmenulinks{
  text-align: center;
  margin: 30px 0px;

}

.createPostContainer {
  max-width: 1200px;
  margin: 0px auto;
}
.createPostContainer .form{
  max-width: 500px;
  padding: 15px;
  border: 1px solid #eee;
  margin: 0px auto;
}

.createPostContainer .form input#inputCreatePost {
  width: 100%;
  height: 48px;
  border-radius: 5px;
}

.d-flox {
  margin-bottom: 15px;
}

.createPostContainer .form .d-flox label {
  display: block;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.createPostContainer .form .d-flox span {
  color: red;
  display: block;
}

.App a {
  display: block;
  text-align: center;
}

.createpost-page {
  width: 500px;
  margin: 0px auto;
}

.createpost-page label {
  font-weight: bold;
  display: inline-block;
 }
.createpost-page input {
  margin-bottom: 15px;
}

.createpost-page span {
  color: red;
  display: block;
  margin: 0px 0px 10px;
}

.post-item {
  margin: 20px auto;
      width: 500px;

  border: 1px solid black;
}

.post-item .title {
  background-color: #87CEEB;
  padding: 20px;
  color: #fff;
}

.post-item .post-text {
  padding: 20px;
}

.post-item .username {
  background-color: #87CEEB;
  padding: 20px;
  color: #fff;
}

.postcreated-page {
  max-width: 500px;
  margin: 0px auto;
  border: 1px solid;
  margin-bottom: 20px;
}

.postcreated-page .title {
  background-color: #04537a;
  padding: 15px;
  text-align: center;
}

 .postcreated-page .footer{
  background-color: #04537a;
  padding: 15px;
  text-align: left;
}


.postcreated-page .body p{
  padding: 15px;
  margin-bottom: 0px;
}

.postcreated-page .title h4 , .postcreated-page .footer h4 {
  color: #fff;
  font-size: 18px;
}

.postby_id_box {
  max-width: 500px;
  margin: 0px auto; 
  border: 1px solid;
  margin-bottom: 20px;
}

.postby_id_box .ptitle {
  background-color: #04537a;
  padding: 15px;
  text-align: center;
}

.postby_id_box .username{
  background-color: #04537a;
  padding: 15px;
  text-align: left;
}

.postby_id_box .ptitle h4, .postby_id_box .username h4 {
  color: #fff;
}

.posttext p {
  padding: 15px;
  margin: 0px;
}


.list_of_comments .comment {
  border: 1px solid #f5f5f5;
  padding: 10px;
  margin-bottom: 10px;
}

.topmenulinks {
  display: block;
  margin-bottom: 15px;
}

.register_main, .login-main {
  max-width: 500px;
  margin: 0px auto;
  border: 2px solid #04579a;
  padding: 15px;
}